extends layout

block content
    p="Book Title : "+currentBook.Title
    p="Book author : "+currentBook.author
    p="Book category : "+currentBook.category
    p="Book Reviews : "+currentBook.Reviews
    p="Book language : "+currentBook.language
   
    